

#alert {
  display: none;
  background-color: lightgrey;
  border: 1px solid green;
  position: fixed;
  width: 250px;
  left: 45%;
  top: 2%;
  padding: 6px 8px 8px;
  text-align: center;
}